.text-field{
    
    -fx-background-insets:3.0;
    -fx-background-radius: 5.0;
    -fx-prompt-text-fill:#e4e4e3;
    -fx-text-fill:#e4e4e3;
    -fx-font-size:13;
   -fx-font-family:"Century Gothic";
	-fx-border-color:#e4e4e3;
}


.text-field:focused{
	 -fx-effect: dropshadow( three-pass-box, black , 10.0, 0.0,0.0,0.0);
     -fx-border-color:linear-gradient(to right top,#e4e4e3,#3A1C71);
    -fx-text-fill:linear-gradient(to right top,#e4e4e3,#3A1C71);
    -fx-prompt-text-fill:linear-gradient(to right top,#e4e4e3,#3A1C71);
    -fx-background-insets: -0.1, 2.0;
    -fx-font-size:14.0;
}